<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Eventos</title>
</head>

<body>
  <h1>Cadastro de Evento:</h1>
  <form method="post">
    <label for="nome">Nome:</label>
    <input type="text" value="" name="nome">
    <label for="local">Local:</label>
    <input type="text" value="" name="local">
    <label for="data">Data:</label>
    <input type="date" value="" name="data">
    <label for="horario">Horário:</label>
    <input type="text" value="" name="horario">

    <button type="submit">Salvar</button>
  </form>

</body>

</html>